!/1234.py

!/db.py

!/dictionary.py

!/installer.py

!/Lesson_2_1.py

!/Lesson_2_2.py

!/lesson_3_1.py

!/lesson_3_3.py

!/lesson_4_1.py

!/lesson_4_2.py

!/lesson_4_3.py

!/lesson_5_1.py

!/lesson_5_2.py

!/lesson_5_3.py

!/lesson_6_1.jpg

!/lesson_6_3.jpg

!/lesson_6_3.py

!/lesson_7_1.py

!/lesson_8_1.py

!/lesson_9_1.py

!/lesson_9_2.py

!/lesson_9_3.py

!/lesson_9_4.py

!/lesson_11_1.py

!/lesson_11_2.py

!/lesson_11_3.py

!/lesson_12_1.py

!/lesson_12_1.spec

!/lesson_15_1.py
!/main.py

!/phonebook.db

!/requirements.txt

!/Untitled-1.py

!/user.json
!/venv/

!/Конфигурация/

!/Управление/

!/Шаблоны/
!/dist/

!/build/
!/tests/test_lesson_7_1.py

!/tests/test_lesson_11_1.py

!/tests/test_lesson_11_3.py
